<h1>GAME画面</h1>
<% if user_signed_in? %>
  <%= link_to current_user.nickname, "#", class: "user-nickname" %>
  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %>
<% else %>
  <%= link_to '新規登録', new_user_registration_path, class: 'sign_up' %>
  <%= link_to 'ログイン', new_user_session_path, class: 'login' %>
<% end %>