<div class="new_body">
  <div class="game_image">
    <%= image_tag "城内（廊下）.jpg", class:'ninja_img'%>
  </div>
  <div class="game_display">
    <div class="game_logo">ゲーム画面</div>
    <div class="back_main">
      <%= link_to "トップへ戻る", root_path %>
    </div>
  </div>
</div>