/* 結果画面 */
.game_over {
  position: relative;
  width: 100%;
  height: 100vh;
}

.game_over_image {
  position: absolute;
  width: 100%;
  height: 100vh;
  opacity: 80%;
}

.game_over_img {
  width: 100%;
  height: 100vh;
}

#result_point {
  position: absolute;
  top: 50%;
  left: 32%;
  padding: 5px;
  font-size: 70px;
  font-weight: 900;
  color: orangered;
  border-bottom: solid 6px orangered;
  font-family: 'Yuji Syuku', serif;
}

.back_idx {
  position: absolute;
  top: 20%;
  left: 35%;
  font-size: 50px;
  font-family: 'Yuji Syuku', serif;
}

.hidden {
  display: none;
}

/* ゲーム画面 */
.new_body {
  position: relative;
  width: 100%;
  height: 100vh;
}

.game_image {
  position: absolute;
  opacity: 55%;
  height: 100vh;
  width: 100%;
}

.game_display {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  display: flex;
  justify-content: space-between;
}

.back_main a {
  text-decoration: none;
  font-size: 35px;
  font-weight: bold;
  border: solid 2px skyblue;
  border-radius: 5px;
  color: skyblue;
  font-family: 'Yuji Syuku', serif;
}

#game_point {
  position: absolute;
  top: 70px;
  right: 30px;
  padding: 5px;
  font-size: 25px;
  color: yellow;
  border-bottom: solid 2px yellow;
  font-family: 'Yuji Syuku', serif;
}

/* 忍者の大きさ分だけマイナスにすると画面外 */
/* 忍者A団 */
#ninjas_a {
  width: 100%;
  display: flex;
}

.ninjas_a {
  position: absolute;
  height: 120px;
  width: auto;
  border-radius: 10px;
}

.a_1 {
  top: -200px;
  left: 5%;
}
.a_2 {
  top: -700px;
  left: 17%;
}
.a_3 {
  top: -350px;
  left: 29%;
}
.a_4 {
  top: -1150px;
  left: 41%;
}
.a_5 {
  top: -900px;
  left: 53%;
}
.a_6 {
  top: -1000px;
  left: 65%;
}
.a_7 {
  top: -450px;
  left: 77%;
}
.a_8 {
  top: -1350px;
  left: 86%;
}

/* 忍者B団 */
#ninjas_b {
  width: 100%;
  display: flex;
}

.ninjas_b {
  position: absolute;
  height: 170px;
  width: auto;
  border-radius: 10px;
}

.b_1 {
  top: -1050px;
  left: 0%;
}
.b_2 {
  top: -500px;
  left: 11%;
}
.b_3 {
  top: -1600px;
  left: 22%;
}
.b_4 {
  top: -200px;
  left: 33%;
}
.b_5 {
  top: -1000px;
  left: 44%;
}
.b_6 {
  top: -800px;
  left: 55%;
}
.b_7 {
  top: -190px;
  left: 66%;
}
.b_8 {
  top: -1250px;
  left: 77%;
}

/* 忍者C団 */
#ninjas_c {
  width: 100%;
  display: flex;
}

.ninjas_c {
  position: absolute;
  height: 170px;
  width: auto;
  border-radius: 10px;
}

.c_1 {
  top: -1000px;
  left: 8%;
}
.c_2 {
  top: -2100px;
  left: 19%;
}
.c_3 {
  top: -1900px;
  left: 30%;
}
.c_4 {
  top: -700px;
  left: 41%;
}
.c_5 {
  top: -2300px;
  left: 52%;
}
.c_6 {
  top: -1300px;
  left: 63%;
}
.c_7 {
  top: -1600px;
  left: 74%;
}
.c_8 {
  top: -750px;
  left: 84%;
}